body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(255, 0, 212);
}

h2{
background-color: #0400ff;
color: rgb(255, 255, 255);
padding: 10px;
border: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    gap: 5px;
    padding: 5px;
    justify-content: center;
    margin-top: 20px;
}

.grid a img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

.grid a img:hover {
    transform: scale(1.05);
}
